<%- include('include/header') -%>

<!-- navbar -->
<%- include('include/navbr') -%>

<div class="container-fluid ms-4 mt-4">
    <div class="row">
        <div class="col-md-3 col-sm-6 account-nav rounded shadow">
            <div class="row">
                <div class="col-4"><label for="name"><%= user.name %></label></div>
                <div class="col-8"><a class="nav-link" href="/cart">
                    <i class="fa-solid fa-wallet me-1"></i>Wallet Amount : <%= user.walletAmount%></a></div>
                </div>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <a href="/useraccount" class="text-decoration-none text-dark">Profile</a>
                </li>
                <li>
                    <a href="/useraddress" class="text-decoration-none text-white bg-primary d-block py-2 rounded">Addresses</a>
                </li>
                <li>
                    <a href="/userorders" class="text-decoration-none text-dark">My Orders</a>
                </li>
                <li>
                    <a href="/wishlisted" class="text-decoration-none text-dark">My Wishlist</a>
                </li>
                <li>
                    <a href="/forgot-otp" class="text-decoration-none text-dark">Forgot Password</a>
                </li>
                <hr>
                <li>
                    <a href="/logout" class="text-decoration-none text-danger">Logout</a>
                </li>
            </ul>
            
        </div>
        <div class="col-9 account-content  px-5">
            <div id="ad" class="rounded bg-white p-5 h-100">
                <h2>Manage Addresses</h2>
                <div class="row">
                    <div class="col-9"><a  href="/addaddress" class="btn btn-primary border rounded px-4 py-2 my-4 w-100">Add New Address</a></div>
                
                <div class="container mt-4">
                    <ul class="list-group">
                        <% addresses.forEach(address => { %>
                        <li class="list-group-item col-9">
                            <div class="row"><div class="col-10">
                            <% if(address.addressType=='work'){%>
                                <label for="work" class="bg-secondary text-white px-2 rounded">work </label>
                                <% } %>
                            </div> 
                            <div class="del col-2">
                                <ul style="list-style: none;">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href='/update-address?id=<%= address._id %>'>Edit</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item delete" data-id=<%= address._id %>>Delete</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                           </div>
                        </div>
                            <strong><%= address.name %></strong>
                            <br>
                            <strong>Phone: <%= address.mobileNumber %></strong>
                            <br>
                            Address: <%= address.address %>, <%= address.locality %>, <%= address.district %>, <%= address.state %> - <%= address.pincode %>
                        </li>
                        <% }) %>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include('include/userFooter') -%>

<%- include('include/footer') -%>