<%- include('include/header') -%>

<!-- navbar -->
<%- include('include/navbr') -%>
<form id="form-checkout" action="/placeorder" method="post">
<div class="py-3 py-md-4 checkout">
    <div class="container-fluid" >
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home" class="text-black text-decoration-none">Home</a></li>
                <li class="breadcrumb-item"><a href="/cart" class="text-black text-decoration-none">Cart</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
          </nav>
        <hr>
        <form id="form-checkout">
            <div class="row">
                <!-- <div class="col-md-12 mb-4">
        <div class="shadow bg-white p-3">
            <h4 class="text-primary">
                Item Total Amount :
                <span class="float-end">$5454</span>
            </h4>
            <hr>
            <small>* Items will be delivered in 3 - 5 days.</small>
            <br/>
            <small>* Tax and other charges are included ?</small>
        </div>
    </div> -->
                <div class="d-flex ">
                    <h5 class="text-dark">
                        Select Address
                    </h5>
                    <a href="/addaddress" class="ms-4 mb-2 btn btn btn-info">Add new address<i class="fa-sharp fa-solid fa-plus"></i></a>

                </div>

                <div class="col-md-6 ">
                    <div class="shadow bg-white p-3 rounded">
                        <%if(addresses){%>
                            <%addresses.forEach(address=>{ %>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-1 rounded">
                                            <input class="m-3" type="radio"  name="addressId"
                                                value="<%=address._id%>"required>
                                        </div>
                                        <div class="col-md-10  g-2 shadow">
                                            <div class="">
                                                <!-- Card Header -->

                                                <!-- Card content -->

                                                <div class="card-body">
                                                    <div class="d-flex">
                                                        <span class="m-1 font-weight-bold text-uppercase">
                                                            <%=address.name %>
                                                        </span>
                                                    </div>
                                                    <span class="m-1 font-weight-bold text-uppercase">
                                                        <%=address.mobileNumber %>
                                                    </span>
                                                    <div class="d-flex">
                                                        <span class="m-1 font-weight-bold text-uppercase">
                                                            <%=address.address %>
                                                        </span>
                                                        <span class="m-1 font-weight-bold text-uppercase">
                                                            ,<%=address.locality %>
                                                        </span>
                                                        <span class="m-1 font-weight-bold text-uppercase">
                                                            -<%=address.pincode %>
                                                        </span>
                                                    </div>
                                                    <div class="d-flex">
                                                        <span class="m-1 font-weight-bold text-uppercase">
                                                            <%=address.district %>
                                                        </span>
                                                        <span class="m-1 font-weight-bold text-uppercase">
                                                            ,<%=address.state %>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <% }) %>

                                    <% } %>


                    </div>
                </div>

                <div class="col-md-6" >
                    <div class="shadow bg-white p-3">
                        <div class="d-flex justify-content-between" style="font-weight: 500;">
                            <p class="mb-2">Subtotal</p>
                            <p id="subtotal" class="mb-2">₹<%= cart.totalDiscount %> <label class="text-decoration-line-through">₹<%= cart.totalAmount %> </label></p>
                          </div>
            
                          <div class="d-flex justify-content-between" style="font-weight: 500;">
                            <p class="mb-0">Shipping</p>
                            <p class="mb-0">Free</p>
                          </div>
            
                          <hr class="my-4">
            
                          <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                            <p class="mb-2">Total (tax included)   :</p>
                            <input type="hidden" name="totalAmount" id="totalAmount" value="<%= cart.totalDiscount %>">
                            <p id="total" class="mb-2">₹<%= cart.totalDiscount %></p>
                          </div>
                        <h4 class="text-dark">
                            Select Payment Method
                        </h4>
                        <hr>


                        <div class="">
                            <label class="" for=""><input type="radio" name="paymentMethod" value="cod">
                                Cash On Delivery(COD)</label>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <label class="" for=""><input type="radio" name="paymentMethod" value="online">
                                Razorpay</label>
                        </div>
                        <hr>
                        <div class="d-flex">
                            <label class=" pe-3" for=""><input type="radio" id="walletPayment" name="paymentMethod" value="wallet" <% if (user.walletAmount < cart.totalDiscount) { %> disabled <% } %>>
                                Wallet</label>
                            <span class="ms-5">(Wallet Balance: ₹ <%=user.walletAmount%>)</span>
                        </div>
                        <hr>
                        <div>
                            <button type="submit" class="btn btn-block w-100 btn-primary text-dark me-auto "> PLACE  ORDER</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</form>
<%- include('include/userFooter') -%>
<script>
     document.addEventListener('DOMContentLoaded', function () {
        var walletPayment = document.getElementById('walletPayment');
        if (walletPayment.disabled) {
            Swal.fire({
                icon: 'warning',
                title: 'Wallet Payment Disabled',
                text: 'Your wallet balance is insufficient for this transaction.',
                confirmButtonText: 'OK'
            });
        }
    });
</script>
<%- include('include/footer') -%>
