<%-include('include/header')-%>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light shadow border-1 sticky-top pt-4 w-100" style="background-color: rgb(171, 171, 171);">
        <div class="container-fluid">
          <a class="navbar-brand fw-bolderS" href="/home"><img src="/img/loomblack.png" width="160px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
              <li class="nav-item ms-5">
                <a class="nav-text text-decoration-none" aria-current="page" href="/home">Shop</a>
              </li>
              <li class="nav-item ms-5">
                <a class="nav-text text-decoration-none" aria-current="page" href="/menrelated">Men</a>
              </li>
              <li class="nav-item ms-5">
                <a class="nav-text text-decoration-none" href="/womenrelated">Women</a>
              </li>
              <li class="nav-item ms-5">
                <a class="nav-text text-decoration-none" href="/kidsrelated">Kids</a>
              </li>
            </ul>
            <form class="d-flex align-self-center me-5">
              <input class="form-control me-2" type="search" size="50" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mx-5 mb-2 mb-lg-0">
              <% if (!userToken) { %>
                <!-- Show the content only if the token is present -->
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" href="/loginpage"><i class="fa-solid fa-user-plus"></i></a>
                </li>
            <% } %>
            <% if (userToken) { %>
                  <li class="nav-item">
                    <a class="nav-link text-bg-success" href="#"><i class="fa-solid fa-heart"></i></a>
                  </li>
             <% } %>
             <% if (userToken) { %>
                  <li class="nav-item">
                    <a class="nav-link text-bg-success" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                  </li>
           <% } %>
           <% if (userToken) { %>
                    <li class="nav-item">
                      <a class="nav-link text-bg-success" href="#"><i class="fa-solid fa-user"></i></a>
                    </li>
             <% } %>
                </ul>
          </div>
        </div>
      </nav>

<!-- related items -->

<hr>
<h2 class="ms-5"><%=catname%>'s Wear</h2>
<div class="row product__filter">
<%-include('include/related')-%>

</div>



<!-- footer -->

<%-include('include/userFooter')-%>

<%-include('include/footer')-%>