<%-include('include/header')-%>

    <!-- navbar -->
    <%-include('include/navbr')-%>

<!-- related items -->

<hr>
<h2 class="ms-5"><%=catname%>'s Wear</h2>
<div class="row product__filter">
<%-include('include/related')-%>

</div>

<!-- footer -->

<%-include('include/userFooter')-%>

<%-include('include/footer')-%>