<%- include('include/header') -%>

<!-- navbar -->
<%- include('include/navbr') -%>

<!-- productdetailed -->
<div class="row g-4 justify-content-between">
    <div class="col-lg-4 me-5">
        <div class="row">
            <div class="col-3 ms-4">
                <% for (let i = 0; i < product.images.length; i++) { %>
                <div class="thumbnail my-3" onclick="displayImage(this)">
                    <img src="<%= product.images[i] %>" class="pro_image w-75" alt="<%= product.product_name %>">
                </div>
                <% } %>
            </div>

            <div class="col-8 mt-3">
                <div class="main-image" id="img-container">
                    <div id="lens"></div>
                    <img src="<%= product.images[0] %>" class="pro_image w-100" id="featured" alt="Main Image">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 ps-5">
        <h2 class="fw-bold mb-3 mt-4"><%= product.brand %></h2>
        <h5 class="mb-3"><%= product.product_name %></h5>
        <div class="d-flex mb-4">
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i>
            <i class="fa fa-star"></i>
        </div>
        <hr>
        <h5>₹<%= product.total_price %> <label class="text-secondary text-decoration-line-through">₹<%= product.price %></label><label class="text-secondary ms-1"> (<%= product.discount %>%)</label></h5>

        <p class="mb-4"><b>Size : </b><%= product.size %> </p>
        <p class="mb-4"><b>Colour : </b><%= product.color %> </p>
        <p class="mb-4 text-primary"><b><% if(product.stock==0) {%> <strong class="text-danger">Out of Stock !!!</strong><%} else{%>
            Stock : <%= product.stock %> <%}%></b> </p>
        <p class="mb-4"><%= product.description %></p>
        <div class="row">
        <div class="col-4">
        <% if (userToken && product.stock > 0) { %>
            <% if (productInCart && productInCart.quantity > 0) { %>
                <a href="/cart" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">Go To Cart</a>
            <% } else { %>
                <form id="addToCartForm" method="POST" action="/addtocart/<%= product._id %>">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="userId" value="<%= user._id %>">
                    <button type="submit" id="addToCartBtn" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">
                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                    </button>
                </form>
            <% } %>
        <% } else if(product.stock > 0) { %>
            <a href="/loginpage" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">Login to Add to Cart</a>
        <% }else{ %>
            <a class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary">Out of stock</a>
        <% }%>
    </div>
    <div class="col-3">
        <a href="#"  class="wishlist-btn btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" data-product-id="<%=product._id%>"> 
      <% if (user && user.wishlist.some(item => item.productId.toString() === product._id.toString())) { %>
            <i class="fa-solid fa-heart"></i>
        <% } else { %>
            <i class="fa-regular fa-heart"></i>
        <% } %>Wishlist</a>
    </div>
</div>
    </div>

    <!-- description and reviews -->
    <%- include('include/descriptionreview') -%>
</div>

<!-- related items -->
<hr>
<h2 class="ms-5">Related Items</h2>
<div class="row product__filter">
    <%- include('include/related') -%>
</div>

<!-- footer -->
<%- include('include/userFooter') -%>

<script>
    // image
    function displayImage(element) {
        var mainImage = document.getElementById("featured");
        mainImage.src = element.getElementsByTagName("img")[0].src;
    }
</script>
<script src="/js/imgzoom.js"></script>
<%- include('include/footer') -%>
