<%- include('include/header') -%>

<!-- navbar -->
<%- include('include/navbr') -%>
<div class="row">
    <div class="col-sm-2 bg-white">
        <div class="container mt-5">
            <p><strong>Filter by Categories</strong></p>
            <form id="categoryFilterForm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Men" id="menCheckbox" checked>
                    <label class="form-check-label" for="menCheckbox">
                        Men
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Women" id="womenCheckbox" checked>
                    <label class="form-check-label" for="womenCheckbox">
                        Women
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Boys" id="boysCheckbox" checked>
                    <label class="form-check-label" for="boysCheckbox">
                        Boys
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="Girls" id="girlsCheckbox" checked>
                    <label class="form-check-label" for="girlsCheckbox">
                        Girls
                    </label>
                </div>
            </form>
        </div>
        
    </div>
    <div class="col-sm-10">
        <section class="product spad mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <select class="form-select" id="sortBySelect">
                                <option value="" disabled selected>Sort By</option>
                                <option value="popularity">Popularity</option>
                                <option value="price-low-to-high">Price - Low to High</option>
                                <option value="price-high-to-low">Price - High to Low</option>
                                <option value="a-to-z">aA - zZ</option>
                                <option value="z-to-a">zZ - aA</option>
                                <option value="newest-first">Newest First</option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="row product__filter" id="productContainer">
                    <% products.forEach(product => { %>
                        <% if (product.list =='listed' && product.catlist =='listed') { %>
                            <div class="col-lg-3 col-md-3 col-sm-3 mb-5 p-2">
                                <div class="pd_det bg-white mix new-arrivals rounded shadow h-150 p-3">
                                    <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none">
                                        <input type="hidden" id="product_id" name="id" value="<%= product.id %>">
                                        <div class="product__item bg-white h-75">
                                            <div class="product__item__pic set-bg">
                                                <% if (product.images && product.images.length > 0) { %>
                                                    <img src="<%= product.images[0] %>" alt="" class="pro_image w-100">
                                                <% } %>
                                                <ul class="product__hover">
                                                    <li>
                                                        <a href="#" class="wishlist-btn" data-product-id="<%= product._id %>">
                                                            <% if (userToken){%>
                                                            <% if (user && user.wishlist.some(item => item.productId.toString() === product._id.toString())) { %>
                                                                <i class="fa-solid fa-heart"></i>
                                                            <% } else { %>
                                                                <i class="fa-regular fa-heart"></i>
                                                            <% }} %>

                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product__item__text bg-white">
                                            <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none text-dark">
                                                <h5 class="text-dark bold"><%= product.brand %></h5>
                                            </a>
                                            <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none">
                                                <h6 class="text-dark inline overflow-hidden" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <%= product.product_name %>
                                                </h6>
                                            </a>
                                            <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none text-dark">
                                                <h5>₹<%= product.total_price %> <label class="text-secondary text-decoration-line-through">₹<%= product.price %></label><label class="text-secondary ms-1"> (<%= product.discount %>%)</label></h5>
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('include/userFooter') -%>

<%- include('include/footer') -%>
<script>

    document.addEventListener('DOMContentLoaded', async () => {
        const sortBySelect = document.getElementById('sortBySelect');
        const categoryCheckboxes = document.querySelectorAll('input[type="checkbox"]');
        
        let user;
        try {
            const userResponse = await fetch('/getUserInfo');
            if (!userResponse.ok) {
                throw new Error('Failed to fetch user information');
            }
            user = await userResponse.json();
        } catch (error) {
            console.error('Error fetching user information:', error);
        }
        // Function to fetch sorted and filtered products
        const fetchProducts = async (sortByValue, categoryFilters) => {
            try {
                const response = await fetch(`/sortAndFilterProducts/${sortByValue}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ categories: categoryFilters })
                });
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                const sortedAndFilteredProducts = await response.json();
                const productContainer = document.getElementById('productContainer');
                productContainer.innerHTML = ''; // Clear existing products
                sortedAndFilteredProducts.forEach(product => {
                    const productDiv = document.createElement('div');
                    productDiv.classList.add('col-lg-3', 'col-md-6', 'col-sm-6', 'col-md-6', 'col-sm-6', 'mb-5', 'p-2');
                    productDiv.innerHTML = `
                    <div class="pd_det bg-white mix new-arrivals rounded shadow h-150 p-3">
                            <a href="/prodetail?id=${product._id}" class="text-decoration-none">
                                <input type="hidden" id="product_id" name="id" value="${product.id}">
                                <div class="product__item bg-white h-75">
                                    <div class="product__item__pic set-bg">
                                        ${product.images && product.images.length > 0 ? `<img src="${product.images[0]}" alt="" class="pro_image w-100">` : ''}
                                        <ul class="product__hover">
                                            <li>
                                               <a href="#" class="wishlist-btn" data-product-id="${product._id}">
                                                    ${user && user.wishlist.some(item => item.productId.toString() === product._id.toString()) ? '<i class="fa-solid fa-heart"></i>' : '<i class="fa-regular fa-heart"></i>'}
                                             </a>
                                             </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product__item__text bg-white">
                                    <a href="/prodetail?id=${product._id}" class="text-decoration-none text-dark">
                                        <h5 class="text-dark bold">${product.brand}</h5>
                                    </a>
                                    <a href="/prodetail?id=${product._id}" class="text-decoration-none">
                                        <h6 class="text-dark inline overflow-hidden" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">${product.product_name}</h6>
                                    </a>
                                    <a href="/prodetail?id=${product._id}" class="text-decoration-none text-dark">
                                        <h5>₹${product.total_price} <label class="text-secondary text-decoration-line-through">₹${product.price}</label><label class="text-secondary ms-1"> (${product.discount}%)</label></h5>
                                    </a>
                                </div>
                            </a>
                        </div>
                    `;
                    productContainer.appendChild(productDiv);
                });
            } catch (error) {
                console.error('Error fetching sorted and filtered products:', error);
            }
        };

// Event listener for changes in checkbox state
categoryCheckboxes.forEach(checkbox => {
    checkbox.addEventListener('change', async () => {
        const categoryFilters = Array.from(categoryCheckboxes)
            .filter(cb => cb.checked)
            .map(cb => cb.value);
        const sortByValue = sortBySelect.value;
        fetchProducts(sortByValue, categoryFilters);
    });
});

// Event listener for changes in select option
sortBySelect.addEventListener('change', async () => {
    const sortByValue = sortBySelect.value;
    const categoryFilters = Array.from(categoryCheckboxes)
        .filter(cb => cb.checked)
        .map(cb => cb.value);
    fetchProducts(sortByValue, categoryFilters);
});

    });
</script>
