<%- include('include/header') -%>

<!-- navbar -->
<%- include('include/navbr') -%>

<div class="container-fluid ms-md-4 mt-4">
    <div class="row">
        <div class="col-md-3 col-sm-6 account-nav rounded shadow">
            <div class="row">
                <div class="col-4"><label for="name"><%= user.name %></label></div>
                <div class="col-8"><a class="nav-link" href="/cart">
                    <i class="fa-solid fa-wallet me-1"></i>Wallet Amount : <%= user.walletAmount%></a></div>
                </div>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <a href="/useraccount" class="text-decoration-none text-dark">Profile</a>
                </li>
                <li>
                    <a href="/useraddress" class="text-decoration-none text-dark">Addresses</a>
                </li>
                <li>
                    <a href="/userorders" class="text-decoration-none text-dark">My Orders</a>
                </li>
                <li>
                    <a href="/wishlisted" class="text-decoration-none text-dark">My Wishlist</a>
                </li>
                <li>
                    <a href="/wallethistory" class="text-decoration-none text-white bg-primary d-block py-2 rounded">Wallet History</a>
                </li>

                <li>
                    <a href="/forgot-otp" class="text-decoration-none text-dark">Forgot Password</a>
                </li>
                <hr>
                <li>
                    <a href="/logout" class="text-decoration-none text-danger">Logout</a>
                </li>
            </ul>
            
        </div>
        
<!-- //orders -->
<div class="col-md-9 checkout">
  <div class="container">
      <div class="d-flex justify-content-between">
          <h4>Wallet History</h4>
      </div>
      <hr>
      <!-- wallet history  -->
      <table class="table overflow-x-scroll">
        <thead>
            <tr>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Amount</th>
                <th>OrderID</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% walletHistory.forEach(wallet => { %>
                <tr>
                    <td><%= wallet.timestamp.toDateString() %></td>
                    <td><%= wallet.transactionType %></td>
                    <td>
                        <% if (wallet.transactionType === 'Credit') { %>
                            <span class="text-success">+ <%= wallet.amount %></span>
                        <% } else if (wallet.transactionType === 'Debit') { %>
                            <span class="text-danger">- <%= wallet.amount %></span>
                        <% } %>
                    </td>
                    <td><%= wallet.order %> </td>
                    <td><%= wallet.state %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
  </div>
</div>
</div>
</div>

<%- include('include/userFooter') -%>

<%- include('include/footer') -%>
<script>
    $(document).ready(function() {
        $('.delete').click(function() {
            const itemId = $(this).data('id');
            deleteFromWishlist(itemId);
        });

        function deleteFromWishlist(itemId) {
            $.ajax({
                url: `/wishlist/${itemId}`,
                type: 'DELETE',
                success: function(response) {
                    console.log(response.message);
                    // Remove the deleted item from the DOM
                    $(`[data-id="${itemId}"]`).closest('tr').remove();
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    });
</script>
