<%- include('include/header') -%>

<!-- navbar -->
<%- include('include/navbr') -%>

<div class="container-fluid ms-4 mt-4">
    <div class="row">
        <div class="col-md-3 col-sm-6 account-nav rounded shadow">
            <div class="row">
                <div class="col-4"><label for="name"><%= user.name %></label></div>
                <div class="col-8"><a class="nav-link" href="/cart">
                    <i class="fa-solid fa-wallet me-1"></i>Wallet Amount : <%= user.walletAmount%></a></div>
                </div>
            <hr>
            <ul class="list-unstyled">
                <li>
                    <a href="/useraccount" class="text-decoration-none text-dark">Profile</a>
                </li>
                <li>
                    <a href="/useraddress" class="text-decoration-none text-dark">Addresses</a>
                </li>
                <li>
                    <a href="/userorders" class="text-decoration-none text-dark">My Orders</a>
                </li>
                <li>
                    <a href="/wishlisted" class="text-decoration-none text-white bg-primary d-block py-2 rounded">My Wishlist</a>
                </li>
                <li>
                    <a href="/forgot-otp" class="text-decoration-none text-dark">Forgot Password</a>
                </li>
                <hr>
                <li>
                    <a href="/logout" class="text-decoration-none text-danger">Logout</a>
                </li>
            </ul>
            
        </div>
        
<!-- //orders -->
<div class="col-md-9 checkout">
  <div class="container">
      <div class="d-flex justify-content-between">
          <h4>Wishlist</h4>
      </div>
      <hr>
      <div class="row justify-content-center">
          <div class="table-responsive">
              <table class="table w-75">

                  <tbody>
                      <% wishlist.wishlist.forEach(item => { %>
                          <tr>
                              <td class="align-center">
                                <a href="/prodetail?id=<%= item.productId._id %>" class="text-decoration-none text-black">
                                  <div class="d-flex align-items-center">
                                      <img src="<%= item.productId.images[0] %>" class="img-fluid rounded-3" style="width: 70px;" alt="Product Image">
                                      <div class="flex-column ms-4">
                                          <%= item.productId.product_name %>
                                          <p class="mb-0" style="font-weight: 500;"><%= item.productId.size %></p>
                                  <p class="mb-0" style="font-weight: 500;">₹<%= item.productId.total_price %> 
                                    <label class="text-secondary text-decoration-line-through">₹<%=item.productId.price %></label><label class="text-secondary ms-1"> (<%= item.productId.discount %>%)</label></p>
                                      </div>
                                  </div>
                                </a>
                              </td>    
                              <td class="align-middle">
                                    <% if (userToken && item.productId.stock > 0) { %>
                                        <% if (productInCart && productInCart.quantity > 0) { %>
                                            <a href="/cart" class="btn rounded px-4 py-2 mb-4 bg-outline-dark-blue">Go To Cart</a>
                                        <% } else { %>
                                            <form id="addToCartForm" method="POST" action="/addtocart/<%=item.productId._id %>">
                                                <input type="hidden" name="productId" value="<%=item.productId._id %>">
                                                <input type="hidden" name="userId" value="<%= user._id %>">
                                                <button type="submit" id="addToCartBtn" class="btn rounded px-4 py-2 mb-4 btn-outline-dark">
                                                    <i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
                                                </button>
                                            </form>
                                        <% } %>
                                    <% }else{ %>
                                        <a class="btn rounded px-4 py-2 mb-4 bg-outline-dark-blue">Out of stock</a>
                                    <% }%>
                              </td>                         
                              <td class="align-middle">
                                  <button class="btn btn-danger delete" data-id=<%= item._id %>>
                                      <i class="fas fa-trash"></i>
                                  </button>
                              </td>
                          </tr> 
                      <% }) %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>
</div>
</div>

<%- include('include/userFooter') -%>

<%- include('include/footer') -%>
<script>
    $(document).ready(function() {
        $('.delete').click(function() {
            const itemId = $(this).data('id');
            deleteFromWishlist(itemId);
        });

        function deleteFromWishlist(itemId) {
            $.ajax({
                url: `/wishlist/${itemId}`,
                type: 'DELETE',
                success: function(response) {
                    console.log(response.message);
                    // Remove the deleted item from the DOM
                    $(`[data-id="${itemId}"]`).closest('tr').remove();
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        }
    });
</script>
