
<% relatedProducts.forEach(product => { %>
      <div class="pd_det col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals bg-white rounded shadow h-50 ms-5">
          <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none">
          <input type="hidden" id="product_id" name="id" value="<%= product.id %>">
          <div class="product__item bg-white h-75">
              <div class="product__item__pic set-bg">
                  <!-- <span class="label">New</span> -->
                  <% if (product.images && product.images.length > 0) { %>
                  <img src="<%= product.images[0] %>" alt="" class="pro_image w-100">
                  <% }%>
                  <ul class="product__hover">
                      <li></li>
                      <li><a href="#"><i class="fa-regular fa-heart"></i></a></li>
                      <li><a href="#"><i class="fa-solid fa-bag-shopping"></i></a></li>
                  </ul>
              </div>
            </div>
              <div class="product__item__text bg-white">
                  <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none text-dark"><h5 class="text-dark bold"><%= product.brand %></h5></a>
                  <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none"><h6 class="text-dark inline overflow-hidden" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    <%= product.product_name %>
                </h6></a>
                <a href="/prodetail?id=<%= product._id %>" class="text-decoration-none text-dark"><h5>₹<%= product.total_price %> <label class="text-secondary text-decoration-line-through">₹<%= product.price %></label><label class="text-secondary ms-1"> (<%= product.discount %>%)</label></h5></a>
              </div></a>
      </div>
      <%}) %>
     